parameters:
  bootstrapFiles:
    - %currentWorkingDirectory%/../../lib/base.php
  ignoreErrors:
    -
      rawMessage: 'Variable $this might not be defined.'
      path: appinfo/routes.php
      count: 1
    -
      rawMessage: 'Method OCP\DB\QueryBuilder\IExpressionBuilder::orX() invoked with 2 parameters, 0-1 required.'
      path: lib/Data.php
      count: 3
    -
      rawMessage: 'Call to method getSharedFrom() on an unknown class OC\Files\Storage\Shared.'
      path: lib/FilesHooks.php
      count: 1
    -
      rawMessage: 'PHPDoc tag @var for variable $storage contains unknown class OC\Files\Storage\Shared.'
      path: lib/FilesHooks.php
      count: 1
